.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_content {
  width: 80vw;
}

.activeLink {
  color: green;
}

.link-item {
  text-decoration: none;
  color: #6b747a;
  cursor: pointer;
}

.link-item:hover,
.link-item:focus {
  color: #000;
}

.row {
  margin: 15px 0px;
}

.image {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .body_content {
    width: 95vw;
  }
}
